body {
  margin: 0;
  height: 100%;
  background: black;
  text-align: center;
  font-family: 'Crete Round', serif;
}

.sitename {
  font-size: 3em;
  margin: 0;
  padding: 0.5em;
  text-decoration: underline;
  -webkit-text-decoration-color: #2e416d;
  text-decoration-color: #2e416d;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}

.description{
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  padding: 0;
}

.fa-3x{
  color: white;
  padding: 1.5em;
  font-size: 4em;
}

header {
  background: black;
  color: white;
  padding: 7em 2em;
  margin-bottom: 0.5em;
  background-image: url("https://images.unsplash.com/photo-1547399300-7613d8f5f8f1?ixlib=rb-1.2.1&w=1000&q=80");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elephant-info {  
  display: none;
  margin-top: 50px;
  padding: 50px;
  width: 60%;
  position: relative;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 90px;
  color: white;
}

.elephant-info div {
  font-size: 1.8em;
  padding: 0.2em;
}

#intro{
  text-decoration: underline;
  text-decoration-color: #b2b8c5;
}

#dobdod, #affiliation{
  font-size: 1em;
}

#note{
  font-size: 1.2em;
  width: 80%;
}

#image{
  padding: 10px;
  border-radius: 5%;
  width: 80%;
}

#image:hover{
  border: 3px solid #4b6cb7;
}

button {
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.5em;
  padding: 0.2em;
  transition: 1s;
}

.button {
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px;
  background: white;
  color: black;
  text-decoration: none;
  font-size: 1.1em;
}

.button:hover{
  background-color: black;
  color: white;
  transition: 1s;
}

button:hover {
  background-color: white;
  color: black;
  transition: 1s;
}

footer {
  display: none;
  /*border-top-left-radius: 30px;
  border-top-right-radius: 30px;*/
  margin-top: 20px;
  padding: 2em;
  font-size: 1.2em;
  color: white;
  background: rgb(27, 27, 27);
}

footer a {
  color: rgb(167, 167, 167);
  text-decoration: none;
}

footer a:hover {
  color: lightblue;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(0, 96, 141);
  color: #fff;
  font-size: 0.9em;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 96, 141) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}